.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 1px 3px -2px black;
}
.navbar_logo{
    display: flex;
    align-items: center;
    gap: 10;
}
.navbar_logo p{
    font-size: 30px;
    font-weight: 500;
    font-family: cursive;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 12px;
    font-weight: 500;

}

.nav_menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}


.nav_cart_icon{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav_cart_icon img{
    width: 30px;
    height: 30px;
}
.nav_cart_icon button{
    width: 80px;
    height: 35px;
    outline: none;
    border: 1px solid #c3bebe;
    color: #5a5a5a;
    background: white;
    border-radius: 75px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;

}
.nav_cart_count{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    font-size: 15px;
    background: #f14141;
    color: white;
    margin-top: -35px;
    margin-left: -55px; 
    font-weight: 500;
}

@media only screen and (max-width: 800px) and (min-width: 520px) {
    .nav_menu{
        display: flex;
        gap: 30px;
        font-size: 15px;
    }

    .nav_cart_icon{
        display: flex;
        gap: 30px;
    }

    .nav_cart_count{
       margin-left: -40px;
    }

    .navbar_logo p{
        font-size: 25px;
        font-weight: 550;
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .navbar{
        display: grid;
    }

    .navbar_logo{
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .nav_menu{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .nav_cart_icon{
        align-items: center;
        justify-content: center;

    }

}

